<nav class="flex gap-3">
    <a class="text-blue-500 hover:text-blue-700 underline" href={{ route('home')}}>Home</a>
    <a class="text-blue-500 hover:text-blue-700 underline" href={{ route('directors.index')}}>Directors</a>
    <a class="text-blue-500 hover:text-blue-700 underline" href={{ route('writers.index')}}>Writers</a>

</nav>