@layout.admin()
<h1>Dashboard</h1>

<div class="flex items-center justify-around gap-4 flex-wrap">
    @!stat({label:'Total Movies',value:moviesCount.$extras.count})
    @!stat({label:'Total Writers',value:writersCount.$extras.count})
    @!stat({label:'Total Directors',value:directorsCount.$extras.count})


</div>
@end