<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      AdonisJS - Movies
    </title>

   


    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body >
    <div class="max-w-3xl mx-auto mt-6">
    <nav>
      <a class="text-blue-500 hover:text-blue-700 underline" href={{ route('home')}}>Home</a>
      <a class="text-blue-500 hover:text-blue-700 underline" href={{ route('movies.show',{slug:'my-awesome-movie'})}}>my awesome movie</a>
      <a class="text-blue-500 hover:text-blue-700 underline" href={{ route('movies.show',{slug:'another-awesome-movie'})}}>another awesome movie</a>
    </nav>
   {{{ movie }}}
   {{inspect(movie)}}
   </div>
  </body>
</html>
